
.meu-botao {
  background-color: #4CAF50;  
  color: white;              
  padding: 15px 32px;        
  border: none;             
  border-radius: 8px;         
  cursor: pointer;              
  font-size: 16px;            
}

.meu-botao:hover {
  background-color: #45a049;
  transform: scale(1);
  transition: 0.2s;
  width: 150px;
  height: 50px;
}
